* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#paint {
  background-color: #0088aa;
  --parallelowow-tile-width: 96;
  --parallelowow-base-color: #0088aa;
  --parallelowow-color-step: -1;
  --parallelowow-probability: 0.1666666667;
  --parallelowow-stroke-weight: 2;
  background-image: paint(parallelowow);
  position: fixed;
  width: 100%;
  height: 100%;
}
